<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- Listener Configuration -->
    <listener>
        <listener-class>listeners.ServerLifecycleListener</listener-class>
    </listener>
    
    <!-- Filter Configuration -->
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>filters.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controllers.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBooks</servlet-name>
        <servlet-class>controllers.SearchBooks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowBooksController</servlet-name>
        <servlet-class>controllers.ShowBooksController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrowRequestController</servlet-name>
        <servlet-class>controllers.BorrowRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleRequestController</servlet-name>
        <servlet-class>controllers.HandleRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRequestController</servlet-name>
        <servlet-class>controllers.AdminRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookDetailController</servlet-name>
        <servlet-class>controllers.BookDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserBorrowHistoryController</servlet-name>
        <servlet-class>controllers.UserBorrowHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUserManageController</servlet-name>
        <servlet-class>controllers.AdminUserManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnBookController</servlet-name>
        <servlet-class>controllers.ReturnBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBookController</servlet-name>
        <servlet-class>controllers.AddBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageBooksController</servlet-name>
        <servlet-class>controllers.ManageBooksController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBookController</servlet-name>
        <servlet-class>controllers.DeleteBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBookController</servlet-name>
        <servlet-class>controllers.EditBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBookController</servlet-name>
        <servlet-class>controllers.UpdateBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRequestHistoryController</servlet-name>
        <servlet-class>controllers.UserRequestHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminBorrowsController</servlet-name>
        <servlet-class>controllers.AdminBorrowsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminConfigController</servlet-name>
        <servlet-class>controllers.AdminConfigController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticsController</servlet-name>
        <servlet-class>controllers.StatisticsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelRequestController</servlet-name>
        <servlet-class>controllers.CancelRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminConfirmReturnController</servlet-name>
        <servlet-class>controllers.AdminConfirmReturnController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>controllers.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmBorrowController</servlet-name>
        <servlet-class>controllers.ConfirmBorrowController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBooks</servlet-name>
        <url-pattern>/SearchBooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowBooksController</servlet-name>
        <url-pattern>/ShowBooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrowRequestController</servlet-name>
        <url-pattern>/BorrowRequestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleRequestController</servlet-name>
        <url-pattern>/HandleRequestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRequestController</servlet-name>
        <url-pattern>/AdminRequestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookDetailController</servlet-name>
        <url-pattern>/BookDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserBorrowHistoryController</servlet-name>
        <url-pattern>/UserBorrowHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUserManageController</servlet-name>
        <url-pattern>/AdminUserManageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnBookController</servlet-name>
        <url-pattern>/ReturnBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBookController</servlet-name>
        <url-pattern>/AddBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageBooksController</servlet-name>
        <url-pattern>/ManageBooksController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookController</servlet-name>
        <url-pattern>/DeleteBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBookController</servlet-name>
        <url-pattern>/EditBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBookController</servlet-name>
        <url-pattern>/UpdateBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRequestHistoryController</servlet-name>
        <url-pattern>/UserRequestHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBorrowsController</servlet-name>
        <url-pattern>/AdminBorrowsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminConfigController</servlet-name>
        <url-pattern>/AdminConfigController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticsController</servlet-name>
        <url-pattern>/StatisticsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelRequestController</servlet-name>
        <url-pattern>/CancelRequestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminConfirmReturnController</servlet-name>
        <url-pattern>/AdminConfirmReturnController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/ProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmBorrowController</servlet-name>
        <url-pattern>/ConfirmBorrowController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>ShowBooks</welcome-file>
    </welcome-file-list>
</web-app>
